/* Global */
:root {
  /* App Colors */
  --color-primary: var(--color-hotpink);
  --color-primary-varient: var(--color-black);
  --color-accent: var(--color-pink);
  --color-text: var(--color-white);

  /* Colors */
  --color-hotpink: #e5558d;
  --color-pink: #f7a9bd;
  --color-black: #333333;
  --color-white: #ffffff;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "IBM Plex Sans KR", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

button {
  position: relative;
  margin: 1rem 0 3rem 0;
  padding: 0;
  outline: 0;
  border: 0;
  color: var(--color-primary);
  background-color: transparent;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

button::after {
  content: "";
  display: none;
  position: absolute;
  top: 0.5rem;
  left: 3rem;
  width: 70px;
  height: 2px;
  background-color: var(--color-primary);
}

button:hover::after {
  display: block;
  transition: 0.5s;
}

/* Header */
.header {
  display: flex;
  position: fixed;
  top: 0;
  padding: 1rem;
  width: 100%;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  transition: all 300ms ease;
}

.header--dark {
  background-color: rgba(0, 0, 0, 0.8);
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__logo__img {
  width: 50%;
  height: auto;
}

.header__toggle {
  display: none;
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  color: var(--color-text);
  font-size: 1.5rem;
}

.header__menu {
  display: flex;
  gap: 4px;
}

.header__menu__item {
  display: block;
  padding: 8px 16px;
  color: var(--color-text);
  border-bottom: 1px solid transparent;
}

.header__menu__item:hover {
  border-bottom: 1px solid var(--color-primary);
}

.header__menu__item.active {
  border: 1px solid var(--color-primary);
  border-radius: 4px;
}

/* Common */
.section {
  padding: 7rem 4rem 2rem 4rem;
}

.subtitle {
  margin: 1rem 0 0.5rem 0;
  font-size: 1.2rem;
}

.title {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.text {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  line-height: 2rem;
}

.text__title {
  padding-right: 0.5rem;
  font-size: 1.2rem;
  color: var(--color-primary);
}

/* Font Awesome */
.fa-instagram {
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  background: -webkit-linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  background: -moz-linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  background: -o-linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  clip-path: inset(1px);
}

.fa-facebook {
  color: #3b3998;
}

.fa-x-twitter {
  color: #000000;
}

.fa-youtube {
  color: #c4302b;
}

/* home */
.home__video {
  width: 100%;
  object-fit: fill;
}

/* Blackpink Intro */
#blackpink {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.blackpink__img {
  position: relative;
  width: 60%;
  height: 29rem;
  background-color: var(--color-accent);
}

.blackpink__img::after {
  content: "";
  position: absolute;
  top: 1.3rem;
  right: 1.5rem;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(../images/blackpink.jpg);
}

.blackpink__content {
  margin: 0;
  width: 30%;
}

.blackpink__sns {
  display: flex;
  gap: 10px;
}

.blackpink__sns__icon {
  font-size: 1.7rem;
}

/* Profile */
.tab_item {
  display: inline-block;
  padding: 0.5rem 3rem;
  margin-bottom: 1.5rem;
  border: 1px solid var(--color-accent);
  font-size: 1.1rem;
}

.tab_item:hover {
  background-color: var(--color-primary-varient);
  color: var(--color-text);
  transition: 0.5s;
}

input[name="tab_item"] {
  display: none;
}

.tab_content {
  display: none;
  clear: both;
  overflow: hidden;
}

#jisoo:checked ~ #jisoo_content,
#jennie:checked ~ #jennie_content,
#rose:checked ~ #rose_content,
#risa:checked ~ #risa_content {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#profile input:checked + .tab_item {
  background-color: var(--color-primary-varient);
  color: var(--color-text);
}

.profile__description {
  width: 40%;
  margin-top: 15rem;
}

.profile__sns {
  display: flex;
  margin: 1rem 0 2rem 0;
  align-items: self-start;
  gap: 15px;
}

.profile__title {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.profile__sns__icon {
  font-size: 1.7rem;
}

.profile__img {
  position: relative;
  right: -1.6rem;
  width: 47%;
  height: 36rem;
  background-color: var(--color-primary);
  background-size: 100%;
  background-repeat: no-repeat;
}

.profile__img::after {
  content: "";
  position: absolute;
  top: 1.3rem;
  right: 1.5rem;
  width: 100%;
  height: 100%;
}
.profile__img.jisooimg::after {
  background-image: url(../images/jisoo.jpg);
  background-size: cover;
  background-position: -273px;
}
.profile__img.jennieimg::after {
  background-image: url(../images/jennie.jpg);
  background-size: cover;
  background-position: -305px;
}
.profile__img.roseimg::after {
  background-image: url(../images/rose.jpg);
  background-size: cover;
  background-position: -305px;
}
.profile__img.risaimg::after {
  background-image: url(../images/risa.jpg);
  background-size: cover;
  background-position: -291px;
}

/* Banner */
#banner {
  margin: 7rem 0 2rem 0;
}

#banner img {
  width: 100%;
  margin: 0 auto;
}

/* Album */
#album {
  text-align: center;
}

.album__content {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.album__content__item {
  display: inline-block;
  padding: 1rem;
  width: 25%;
}

.album__content__item__img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.album__content__item__text {
  padding: 0.3rem 1rem;
  box-sizing: border-box;
  border: 1px solid var(--color-accent);
  border-radius: 0 0 10px 10px;
  text-align: left;
}

.album__btn {
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  border: 1px solid var(--color-accent);
}

.album__btn:hover {
  background-color: var(--color-accent);
  color: var(--color-white);
  transition: 0.5s;
}

.album__btn:hover::after {
  display: none;
}

/* Gallery */
#gallery {
  text-align: center;
}

.gallery__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.gallery__grid__img {
  width: 100%;
}

.gallery__btn {
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  border: 1px solid var(--color-primary);
}

.gallery__btn:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
  transition: 0.5s;
}

.gallery__btn:hover::after {
  display: none;
}

/* Notice */
#notice {
  display: flex;
  text-align: center;
}

.notice__title {
  margin-bottom: 1rem;
  font-size: 2.3rem;
  font-weight: bold;
  text-align: left;
}

.community {
  margin-right: 4rem;
}

.community__content__item {
  margin: 0 1rem 1rem 0;
  padding: 1rem;
  background-color: var(--color-primary-varient);
}

.community__content__text {
  color: var(--color-text);
  padding: 1rem;
  background-color: var(--color-accent);
  border-radius: 5px;
}

.community__comment {
  text-align: left;
  font-size: 1.2rem;
  line-height: 2rem;
}

.community__nickname {
  text-align: right;
}

.notice__content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}

.notice__content__item {
  margin: 0;
  padding: 1rem;
  width: 46%;
  background-color: var(--color-primary-varient);
}

.fa-bullhorn {
  padding: 1.3rem 0;
  font-size: 2rem;
  color: var(--color-text);
}

.notice__content__text {
  padding: 1rem;
  background-color: var(--color-primary);
  border-radius: 5px;
}

.notice__text__title {
  text-align: left;
  font-size: 1.2rem;
  color: var(--color-text);
}

.notice__text {
  text-align: left;
  line-height: 1.7rem;
  color: var(--color-text);
}

.notice__btn {
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}
.notice__btn.ver1 {
  border: 1px solid var(--color-primary);
}
.notice__btn.ver2 {
  border: 1px solid var(--color-accent);
}

.notice__btn:hover {
  color: var(--color-white);
  transition: 0.5s;
}
.notice__btn.ver1:hover {
  background-color: var(--color-primary);
}
.notice__btn.ver2:hover {
  background-color: var(--color-accent);
}

.notice__btn:hover::after {
  display: none;
}

/* Arrow up */
.arrow-up {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  font-size: 3rem;
  width: 4.5rem;
  height: 4.5rem;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 100%;
  text-align: center;
  box-shadow: 5px 5px 0px 0px var(--color-primary-varient);
  transition: opacity 300ms ease-in;
  z-index: 1;
}

/* Footer */
#footer {
  display: flex;
  justify-content: space-between;
  padding: 4rem;
  background-color: var(--color-primary-varient);
  color: var(--color-text);
}

.footer__left {
  display: flex;
}

.footer__left address {
  margin-top: 0.3rem;
}

.footer__logo {
  width: 150px;
}

.footer__right {
  text-align: right;
}

.footer__right label {
  display: none;
}

.footer__right select {
  border-radius: 5px;
  padding: 0.5rem 3rem;
  margin-bottom: 1rem;
}

.footer__info {
  display: flex;
  gap: 10px;
}

.footer__info li:hover {
  text-decoration: underline;
  transition: 0.5s;
}

.footer__info__item {
  color: var(--color-text);
}

@media screen and (max-width: 768px) {
  .section {
    padding: 5.5rem 2rem 0rem 2rem;
  }

  .header {
    flex-direction: column;
    align-items: start;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .header__toggle {
    display: block;
  }

  .header__menu {
    display: none;
    flex-direction: column;
    text-align: center;
    margin: 1rem 4rem;
    gap: 1rem;
  }

  .header__menu.open {
    display: flex;
  }

  .header__nav {
    width: 100%;
  }

  #blackpink {
    display: block;
  }

  .blackpink__img {
    margin-bottom: 3rem;
    right: -1.6rem;
    width: 95%;
    height: 18rem;
  }

  .blackpink__content {
    width: 100%;
  }

  .tab_item {
    padding: 0.7rem;
    margin-bottom: 0.7rem;
    display: block;
    text-align: center;
  }

  #jisoo:checked ~ #jisoo_content,
  #jennie:checked ~ #jennie_content,
  #rose:checked ~ #rose_content,
  #risa:checked ~ #risa_content {
    display: block;
  }

  .profile__description {
    margin-top: 3rem;
    width: 100%;
  }

  .profile__img {
    width: 95%;
  }

  .album__content {
    flex-wrap: wrap;
  }

  .album__content__item {
    width: 50%;
  }

  .gallery__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  #notice {
    display: block;
  }

  .community {
    margin: 0;
  }

  .notice__content {
    gap: 1rem;
  }

  .notice__content__item {
    margin: 0;
    width: 48%;
  }

  #footer {
    display: block;
    padding: 2rem;
  }

  .footer__left {
    display: block;
  }

  .footer__right {
    text-align: left;
  }

  .footer__right select {
    margin: 1rem 0;
  }

  .footer__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__info li {
    padding: 0.3rem;
  }
}

@media screen and (max-width: 480px) {
  .section {
    padding: 5.5rem 1rem 0rem 1rem;
  }

  .title {
    font-size: 2.3rem;
  }

  .blackpink__img {
    height: 14rem;
  }

  .profile__title {
    font-size: 2.3rem;
  }

  .album__content__item {
    width: 100%;
  }

  .gallery__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .notice__content__item {
    width: 100%;
  }

  .footer__info {
    grid-template-columns: repeat(1, 1fr);
  }
}
