/* Global */
:root {
  /* App Colors */
  --color-primary: var(--color-hotpink);
  --color-primary-varient: var(--color-black);
  --color-accent: var(--color-pink);
  --color-text: var(--color-white);

  /* Colors */
  --color-hotpink: #e5558d;
  --color-pink: #f7a9bd;
  --color-black: #333333;
  --color-white: #ffffff;
}

body {
  font-family: "IBM Plex Sans KR", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

button {
  position: relative;
  margin: 1rem 0 3rem 0;
  padding: 0;
  outline: 0;
  border: 0;
  color: var(--color-primary);
  background-color: transparent;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

button::after {
  content: "";
  display: none;
  position: absolute;
  top: 0.5rem;
  left: 3rem;
  width: 70px;
  height: 2px;
  background-color: var(--color-primary);
}

button:hover:after {
  display: block;
  transition: 0.5s;
}

/* Header */
.header {
  background-color: aliceblue;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__logo__img {
  width: 50%;
  height: auto;
}

.header__menu {
  display: flex;
  gap: 4px;
}

.header__menu__item {
  padding: 8px 16px;
}

.header__menu__item:hover {
  border-bottom: 1px solid var(--color-primary);
}

.header__menu__item.active {
  border: 1px solid var(--color-primary);
  border-radius: 4px;
}

/* Common */
.section {
  padding: 7rem 4rem 4rem 4rem;
}

.subtitle {
  margin: 1rem 0 0.5rem 0;
  font-size: 1.2rem;
}

.title {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.text {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  line-height: 2rem;
}

.text__title {
  padding-right: 0.5rem;
  font-size: 1.2rem;
  color: var(--color-primary);
}

/* Font Awesome */
.fa-instagram {
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  background: -webkit-linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  background: -moz-linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  background: -o-linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  clip-path: inset(1px);
}

.fa-facebook {
  color: #3b3998;
}

.fa-x-twitter {
  color: #000000;
}

.fa-youtube {
  color: #c4302b;
}

/* home */
.home__video {
  width: 100%;
  object-fit: fill;
}

/* Blackpink Intro */
#blackpink {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
}

.blackpink__img {
  position: relative;
  width: 600px;
  height: 400px;
  background-color: var(--color-accent);
}

.blackpink__img::after {
  content: "";
  position: absolute;
  top: 1.3rem;
  right: 1.5rem;
  width: 600px;
  height: 400px;
  background-image: url(../images/blackpink.jpg);
}

.blackpink__sns {
  display: flex;
  gap: 10px;
}

.blackpink__sns__icon {
  font-size: 1.7rem;
}

/* Profile */
.tab_item {
  display: inline-block;
  padding: 0.5rem 3rem;
  margin-bottom: 1.5rem;
  border: 1px solid var(--color-accent);
  font-size: 1.1rem;
}

.tab_item:hover {
  background-color: var(--color-primary-varient);
  color: var(--color-text);
  transition: 0.5s;
}

input[name="tab_item"] {
  display: none;
}

.tab_content {
  display: none;
  clear: both;
  overflow: hidden;
}

#jisoo:checked ~ #jisoo_content,
#jennie:checked ~ #jennie_content,
#rose:checked ~ #rose_content,
#risa:checked ~ #risa_content {
  display: flex;
  justify-content: space-evenly;
}

#profile input:checked + .tab_item {
  background-color: var(--color-primary-varient);
  color: var(--color-text);
}

.profile__description {
  margin-top: 15rem;
}

.profile__sns {
  display: flex;
  margin: 1rem 0 2rem 0;
  align-items: self-start;
  gap: 15px;
}

.profile__title {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.profile__sns__icon {
  font-size: 1.7rem;
}

.profile__img {
  position: relative;
  width: 450px;
  height: 600px;
  background-color: var(--color-primary);
}

.profile__img::after {
  content: "";
  position: absolute;
  top: 1.3rem;
  right: 1.5rem;
  width: 450px;
  height: 600px;
}
.profile__img.jisooimg::after {
  background-image: url(../images/jisoo.jpg);
  background-size: cover;
  background-position: -273px;
}
.profile__img.jennieimg::after {
  background-image: url(../images/jennie.jpg);
  background-size: cover;
  background-position: -305px;
}
.profile__img.roseimg::after {
  background-image: url(../images/rose.jpg);
  background-size: cover;
  background-position: -305px;
}
.profile__img.risaimg::after {
  background-image: url(../images/risa.jpg);
  background-size: cover;
  background-position: -291px;
}

/* Banner */
#banner {
  margin: 7rem 0;
}

#banner img {
  width: 100%;
  margin: 0 auto;
}
